/* Основной стиль страницы */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background-color: #fcebeb;
    color: #000000;
    font-size: larger;
  }
  
  /* Заголовок */
  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    
  }
  
  /* Стили формы */
  form {
    max-width: 500px;
    margin: 0 auto;
    background: #54e1b0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Форм-группы */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 60%;
    padding: 10px;
    border: 2px solid #080202;
    border-radius: 6px;
    font-size: 10px;
    background-color: #4CAF50;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Кнопка */
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #347237;
  }
  
  /* Сообщения об ошибках и загрузке */
  .error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  
  p {
    text-align: center;
  }
  